.content {
    padding: 10px 0 10px 0;
    width: 50vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(36, 36, 36);
    justify-content: space-between;
    .todo{
        font-size: 1.5rem;
        margin-left: 1.3rem;
    }
    .info{
        margin-right: 20px;
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content:flex-end;
        color: rgb(36, 36, 36);
        .date{
            margin-right: 1rem;
        }
        .options {
            width: 2.8vw;
            display: flex;
            justify-content: space-between;
            .trash {
                margin-top: 2px;
                font-size: 1.2vw;
                color: rgba(255, 81, 0, 0.574);
                &:hover {
                    color: rgb(255, 68, 0);
                    cursor: pointer;
                }
            }
            .check {
                font-size: 1.5vw;
                color: rgba(0, 92, 3, 0.552);
                &:hover {
                    color: green;
                    cursor: pointer;
                }
            }
        }
    }
}