.todos{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        margin-left: 1vw;
        font-size: 3rem;
        height: 4.5rem;
    }
    .options{
        display: flex;
        align-items: flex-end;
        height: 4.5rem;
        .selected{
            display: flex;
            flex-direction: column;
            margin-right: 1.5vw;
            
            h5{
                padding: 0;
                margin: 0;
                font-size: 1.5rem;
            }
            select{
                background-color: rgba(0, 0, 0, 0.421);
                border-radius: 5px;
                font-size: 1rem;
            }
        }
        .doneBut{
            width: 6.5rem;
            height: 3rem;
            margin-bottom: 0px;
            background-color: rgba(0, 0, 0, 0.241);
            border: none;
            outline: none;
            border-radius: 5px;
            font-weight: bolder;
            .icon{
                margin-left: 10px;
                color: rgb(37, 124, 0);
                font-size: 1rem;
            } 
            &:hover{
                color: white;
                background-color: rgba(0, 0, 0, 0.444) ;
                cursor: pointer;
            }
            &:hover .icon {
                color: rgb(77, 255, 0);
            }
        }
    }
}